
  <c-footer>
    <c-container>
        <c-row class="align-items-start">
          <c-col>
            <p routerLink="/">Home</p>
            <p>About Us</p>
            <p routerLink="/contactus">Contact Us</p>
          </c-col>
          <c-col>
           <!--  <p>Boat Development</p>
            <p>Web Developement</p>
            <p>App Development</p> -->
            <p routerLink="/faqs">faqs</p>
            <p>Blog</p>
          </c-col>
          <c-col>
            <!-- <p>IT Services</p> -->
            
            </c-col>
        </c-row>
      </c-container>
      
  </c-footer>
  <div class="ms-auto">
    <span>Powered by </span>
    <a href="https://brainqy.in" target="_blank">
      <span> &copy; 2022 </span>
      <span>BrainQy</span>
    </a>
  </div>