<app-oheader></app-oheader>
<c-carousel [dark]="true" [wrap]="false">
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides; index as i;">
        <img
          [src]="slide.src"
          alt="{{slide.title}}"
          class="d-block w-100"
          loading="lazy"
        
        />
        <c-carousel-caption class="d-none d-md-block">
          <h3>{{slide.title}}</h3>
          <p>{{slide.subtitle}}</p>
        </c-carousel-caption>
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>
  <c-container>
    <c-card>
        
        <c-card-body>
          <h5 cCardTitle>Card title</h5>
          <p cCardText>
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
         
        </c-card-body>
      </c-card>
</c-container>

  <c-container>
    <c-row [xs]="2" [lg]="3" [gutter]="{g: 2, lg: {g: 3}}">
      
      <c-col>
        <c-card>
          <img cCardImg="top" src="./assets/img/angular.jpg">
          <c-card-body>
            <h5 cCardTitle>AI Powered-Bots</h5>
            <p cCardText>
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <button cButton color="light">Know More...</button>
          </c-card-body>
        </c-card>
        <div class="p-3 border bg-light"></div>
      </c-col>
      <c-col>
        <c-card>
          <img cCardImg="top" src="./assets/img/angular.jpg">
          <c-card-body>
            <h5 cCardTitle>Mobile App developement</h5>
            <p cCardText>
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <button cButton color="light">Know More...</button>
          </c-card-body>
        </c-card>
        <div class="p-3 border bg-light"></div>
      </c-col>
      <c-col>
        <c-card>
          <img cCardImg="top" src="./assets/img/angular.jpg">
          <c-card-body>
            <h5 cCardTitle>Web Developement</h5>
            <p cCardText>
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <button cButton color="light">Know More...</button>
          </c-card-body>
        </c-card>
        <div class="p-3 border bg-light"></div>
      </c-col>
     
    </c-row>
  </c-container>
  <c-container>
    <c-carousel [dark]="true" [wrap]="false">
     
      <c-carousel-inner>
        <c-carousel-item *ngFor="let slide of slides; index as i;">
          <c-card>
        
            <c-card-body>
              
              <img cCardImg="top" src="./assets/images/testimonial.png">
             
            </c-card-body>
          </c-card>
         
        </c-carousel-item>
      </c-carousel-inner>
      <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
      <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
    </c-carousel>
  
  </c-container>

  <app-ofooter></app-ofooter>
  
  