<app-oheader></app-oheader>
<c-carousel [dark]="true" [wrap]="false">
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides; index as i;">
        <img
          [src]="slide.src"
          alt="{{slide.title}}"
          class="d-block w-100"
          loading="lazy"
        
        />
        <c-carousel-caption class="d-none d-md-block">
          <h3>{{slide.title}}</h3>
          <p>{{slide.subtitle}}</p>
        </c-carousel-caption>
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>
  <c-container>
    <c-card>
        
        <c-card-body>
          <p cCardText>
            In an effort to make the world more mentally resilient, we developed Brainqy - an AI chatbot that leverages evidence-based cognitive-behavioral techniques (CBT) to make you feel heard. Blended with professional human support, Brainqy provides 24/7 high-quality mental health support.
           </p>
         
        </c-card-body>
      </c-card>
</c-container>
<c-container>
  <c-card>
      
      <c-card-body>
        <h5 cCardTitle>Proven Clinical Efficacy</h5>
        <p cCardText>
          In a real-world evaluation of the effectiveness of Brainqy, users who used the app regularly showed a 40% improvement in self-reported symptoms of depression when compared to 
infrequent users.
         </p>
       
      </c-card-body>
    </c-card>
</c-container>

  <c-container>
    <c-row [xs]="2" [lg]="3" [gutter]="{g: 2, lg: {g: 3}}">
      
      <c-col>
        <c-card>
          <img cCardImg="top" src="./assets/images/download.png">
          <c-card-body>
            <h5 cCardTitle>For Individuals</h5>
            <p cCardText>
              Learn more about Brainqy, the self-care library, and our professional support.
             </p>
            <button cButton color="light">Know More...</button>
          </c-card-body>
        </c-card>
        <div class="p-3 border bg-light"></div>
      </c-col>
      <c-col>
        <c-card>
          <img cCardImg="top" src="./assets/images/download.png">
          <c-card-body>
            <h5 cCardTitle>For Employers</h5>
            <p cCardText>
              Premium access, co-branding, mental health campaigns, analytics and insights.  
            </p>
            <button cButton color="light">Know More...</button>
          </c-card-body>
        </c-card>
        <div class="p-3 border bg-light"></div>
      </c-col>
      <c-col>
        <c-card>
          <img cCardImg="top" src="./assets/images/download.png">
          <c-card-body>
            <h5 cCardTitle>For Healthcare</h5>
            <p cCardText>
              Co-branding, integrations, custom solutions for your healthcare needs and analytics. 
            </p>
            <button cButton color="light">Know More...</button>
          </c-card-body>
        </c-card>
        <div class="p-3 border bg-light"></div>
      </c-col>
     
    </c-row>
  </c-container>
  <c-container>
    <c-carousel [dark]="true" [wrap]="false">
     
      <c-carousel-inner>
        <c-carousel-item *ngFor="let slide of slides; index as i;">
          <c-card>
        
            <c-card-body>
              
              <img cCardImg="top" src="./assets/images/testimonial.png">
             
            </c-card-body>
          </c-card>
         
        </c-carousel-item>
      </c-carousel-inner>
      <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
      <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
    </c-carousel>
  
  </c-container>

  <app-ofooter></app-ofooter>
  
  