<app-oheader></app-oheader>
<c-container>
<h2>Create new entrepreneurs.
  Earn more than just commission.</h2>

Grow your brand with BrainQy, access exclusive opportunities, and earn a commission through our referral program. Become a BrainQy Affiliate.
<button cButton color="light" routerLink="/">Go Back</button>   
<c-card>
        <img cCardImg="top" src="./assets/images/affiliates.svg">
        <c-card-body>
          <h5 cCardTitle>Affilliate Programme</h5>
          <p cCardText>
            Help us to boost our Business and earn upto 60000 Rs/month 
          </p>
          <button cButton color="light" routerLink="/">Go Back</button>
        </c-card-body>
      </c-card>
</c-container>
<app-ofooter></app-ofooter>