<c-header>
    <c-container fluid>
      <c-header-brand routerLink="/">BrainQy Solutions and Consultancy Services</c-header-brand>
      <c-header-nav class="ms-auto">
        <c-nav-item>
          <a cNavLink routerLink="/">Home</a>
        </c-nav-item>
        <c-nav-item>
          <a cNavLink routerLink="/portfolio">PortFolio</a>
        </c-nav-item>
        <c-nav-item>
          <a cNavLink  routerLink="/components/alert">Contact Us</a>
        </c-nav-item>
        <c-nav-item>
          <a cNavLink routerLink="/affiliates">Affiliates</a>
        </c-nav-item>
        <c-dropdown alignment="end">
          <a cHeaderToggler cDropdownToggle cNavLink [caret]="false"></a>
          <ul cDropdownMenu>
            <li><a [routerLink] cDropdownItem>Action</a></li>
            <li><a [routerLink] cDropdownItem>Another action</a></li>
            <li>
              <hr cDropdownDivider>
            </li>
            <li><a [routerLink] cDropdownItem>Something else</a></li>
          </ul>
        </c-dropdown>
      </c-header-nav>
    </c-container>
    <c-container fluid>
    </c-container>
  </c-header>

